$white-dark: #f5f5f5;
$white: #ffffff;
$gray-dark: #757575;
$gray: #aaaaaa;
$black-dark: #141414;
$black: #282828;
$black-light: #353535;

$green-dark: #289672;
$green: #29BB89;
$red-dark: #C4031B;
$red: #F50422;
$pink-dark: #C21E45;
$pink: #F32556;
$pink-light: #F55178;
$orange-dark: #C72400;
$orange: #F92D00;
$orange-light: #FA5733;
$yellow-dark: #C99500;
$yellow: #FBBA00;
$yellow-light: #FCC833;

$stat-violet: #7700EE;
$stat-red: #EF233C;
$stat-orange: #F2542D;
$stat-yellow: #CE9500;
$stat-green: #1BA839;
$stat-bluelight: #21C8A0;

$image-gradient: linear-gradient(180deg, #141414 0%, #14141400 25%, #14141400 80%, #141414 100%);

$card-shadow:  0px 5px 10px rgba(0, 0, 0, 0.25);

$font-title: bold 40px Archivo, sans-serif;
$font-caption: bold 28px Archivo, sans-serif;
$font-hero-name: bold 18px Archivo, sans-serif;

$font-text: 400 16px Nunito, sans-serif;
$font-text-bold: 600 16px Nunito, sans-serif;
$font-text-bold: bold 16px Nunito, sans-serif;

$font-detail: bold 12px Nunito, sans-serif;

$font-20px-bold: bold 20px Nunito, sans-serif;